* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    src: url("./font/SankeiCutePopanime-2.ttf");
    font-family: 'SankeiCutePopanime';
}

@font-face {
    src: url("./font/UpstairsCVJMgraff-1.ttf");
    font-family: 'UpstairsCVJMgraff';
}

.header {
    margin: auto;
    font-family: 'UpstairsCVJMgraff';
    font-size: 18vw;
    background: red;
    color: black;
    animation: hcolor 5s linear infinite alternate;
}
@keyframes hcolor{
    0%{
        background: red;
        color: black;
    }
    25%{
        background: black;
        color: red;
    }
    50%{
        background: black;
        color: black;
    }
    100%{
        color: white;
    }
}



.con1 {
    width: 100%;
    padding: 30px 10px;
    background: #C6D0D0;
}

.con1_text1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.con1_text1_left {
    font-size: 15vw;
    font-family: 'UpstairsCVJMgraff';
    animation: lights 3s linear infinite;
    /*color: black;*/
}

@keyframes lights {
    0%{
        font-size: 15vw;
    }
    25%{
        font-size: 25vw;
    }
    50%{
        font-size: 15vw;
    }
    75%{
        font-size: 5vw;
    }
    100%{
        font-size: 15vw;
    }
}

.con1_text1_right {
    font-family: 'SankeiCutePopanime';
    font-size: 5vw;
    animation: shine 2.4s infinite;
}

.con1_text2 {
    font-family: 'SankeiCutePopanime';
    font-size: 10vw;
}

.con1_text2 > .sp1 {
    font-size: 12vw;
    color: #00FF00;
    transition: all 0.3s;
    cursor: pointer;
}

.con1_text2 > .sp2 {
    font-size: 11vw;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}

.con1_text2 > .sp1:hover {
    color: white;
}

.con1_text2 > .sp2:hover {
    color: #00FF00;
}

.back_text {
    font-family: 'SankeiCutePopanime';
    background: black;
    font-size: 15vw;
    color: white;
    text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    0 -80px 70px #f38e1c;
    -webkit-animation: flame 2s infinite
}

@-webkit-keyframes flame {
    0% {
        text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
        -20px -20px 40px #ffae34,
        20px -40px 50px #ec760c,
        0 -80px 70px #f38e1c;
    }
    30% {
        text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
        -20px -20px 40px #ffae34,
        20px -40px 50px #ec760c,
        10px -90px 80px #f38e1c;
    }
    60% {
        text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
        -20px -20px 40px #ffae34,
        20px -40px 50px #ec760c,
        0px -80px 100px #f38e1c;
    }
    100% {
        text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
        -20px -20px 40px #ffae34,
        20px -40px 50px #ec760c,
        0 -80px 70px #f38e1c;
    }
}


.text {
    padding: 10vw 20px 2vw 20px;
    background: #C6D0D0;
    font-family: 'SankeiCutePopanime';
    font-size: 2.5vw;
    line-height: 150%;
    animation: shine 2.4s infinite;
}

@keyframes shine {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #0000FF, 0 0 10px #0000FF;
    }
    50% {
        text-shadow: 0 0 10px #0000FF, 0 0 40px #0000FF;
    }
}
